.header {
  @media screen and(max-width:1279px) {
    width: 768px;
  }
  width: 1280px;
  color: #fff;
  position: relative;
  padding: 0 15px;
}

.link__logo:hover,
.link__logo:focus {
  fill: #ff6c00;
}

.logo__svg {
  position: absolute;
  top: 50px;
  left: 32px;
}

.social__link__list {
  position: absolute;
  bottom: 140px;
  left: -68px;
  color: black;
  display: flex;
  align-items: center;
  gap: 40px;
  transform: rotate(-90deg);
}
.social__link__list::before {
  content: '';
  width: 60px;
  height: 1px;
  background: #303030;
  display: block;
}
.social__link__item {
  color: #303030;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.2em;

  color: #303030;
}
.social__link__item:hover,
.social__link__item:focus {
  color: #ff6c00;
  text-decoration: none;
}

.header__container {
  background-image: url(../img/header/header-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1250px;
  position: relative;
  height: 680px;
  margin-left: 155px;
}

.header__container--flex {
  display: flex;
  align-items: baseline;
}

.header__list {
  margin-top: 52px;
  display: flex;
  list-style: none;
  color: inherit;
  margin-left: 40px;
}

.header__item {
  margin-left: 40px;
  &:first-child {
    margin: 0;
  }
}
.header__item:first-child {
  margin-left: 0;
}
.heder__link {
  text-decoration: none;
  list-style: none;
  color: white;
  display: block;
}
.heder__link:hover,
.heder__link:focus {
  text-decoration: none;
  color: #ff6c00;
  transform: scale(1.1);
}
.header__list_phone {
  @media screen and(max-width:1279px) {
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 39px;
  }
  margin-top: 52px;
  display: flex;
  list-style: none;
  margin-left: auto;
  align-items: baseline;
}
.tel__link {
  text-align: center;
  width: 160px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  display: block;
  padding-top: 5px;
  color: white;
}

.header__list__item-tel {
  @media screen and(max-width:1279px) {
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 20px;
  }
  margin-right: 40px;
}
.header__list__item-link {
  @media screen and(max-width:1279px) {
    margin-right: 0;
  }
  margin-right: 75px;
}
.header__link--phone {
  color: white;
}

.container__text__title {
  @media screen and(max-width:1279px) {
    margin-top: 156px;
    margin-left: 120px;
  }
  margin-top: 180px;
  margin-left: 100px;
}
.text-location {
  @media screen and(max-width:1279px) {
    margin-left: 77px;
  }
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  margin-left: 73px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}

.text-location::after {
  position: absolute;
  top: 6px;
  left: -76px;
  content: '';
  width: 53px;
  height: 1px;
  display: block;
  background: rgba(157, 164, 189, 0.6);
}
.text__title {
  @media screen and(max-width:1279px) {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.05em;
    line-height: 1.17;
  }
  margin-top: 20px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.text__expert {
  @media screen and(max-width:1279px) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;

    letter-spacing: 0.02em;

    color: #9da4bd;
  }
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.02em;

  color: #9da4bd;
}
.list__slider {
  position: absolute;
  bottom: 40px;
  right: 55px;
  display: flex;
}
.list__item_1 {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  text-align: right;
  letter-spacing: 0.1em;

  color: rgba(157, 164, 189, 0.6);
  margin-left: 55px;
  cursor: pointer;
}
.list__item_2 {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  text-align: right;
  letter-spacing: 0.1em;

  color: rgba(157, 164, 189, 0.6);
  margin-left: 55px;
  cursor: pointer;
}
.list__item:hover,
.list__item:focus {
  color: #fff;
}

.list__item:first-child {
  margin-left: 0;
}
.list__item_1::after {
  position: absolute;
  left: 0;
  top: 24px;
  content: '';
  width: 60px;
  height: 1px;
  display: block;
  letter-spacing: 0.1em;

  background-color: rgba(157, 164, 189, 0.6);
}
.list__item_2::after {
  position: absolute;
  left: -24px;
  top: 24px;
  content: '';
  width: 60px;
  height: 1px;
  display: block;
  letter-spacing: 0.1em;

  background-color: rgba(157, 164, 189, 0.6);
}
